*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   height: 100vh;
   width: 100vw;
   background-image: linear-gradient(180deg,#e8cebf 0%,rgba(232, 206, 191, 0.55) 0.01%,#ffffff 90.62%);
   background-repeat: no-repeat;
   overflow-x: hidden;
}

#root{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}