.footer{
    background-color: #e7d9d1;
    margin-top: auto;
    padding: 1rem 4rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-section{
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    font-size: 0.9rem;
    align-self: center;
    margin-top: 1rem;
}

.footer-section:first-child{
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(196, 201, 201);
}

.footer-section:last-child{
    grid-column: 1/4;
    margin-top: 1.5rem;
}

.footer ul{
    list-style-type: none;
}

.logo{
    height: 50px;
    transform: translateX(-33%);
}

.socials a{
    color: #0093CA;
    margin-left: 0.5rem;
    font-size: 1.1rem;
}

@media (max-width: 768px){
    .footer{
        display: block;
        margin-top: 10rem;
    }

    .footer-section:first-child{
        flex-direction: column;
    }

    .logo{
        transform: translateX(0);
    }
    
}